body {
  font-family: lato, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h6 {
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

