%footer.footer
  .footer-row.footer-contact-me
    %p Want to get in touch? <a href="mailto:hi@jarednorman.ca">Send me an e-mail.</a>
  .footer-row.footer-social-links
    %p
      Find me elsewhere:
      %a(href="https://github.com/jarednorman")
        %i.fa.fa-github
      %a(href="https://twitter.com/jaredrnorman")
        %i.fa.fa-twitter
      %a(href="http://ca.linkedin.com/in/jarednorman/")
        %i.fa.fa-linkedin
      %a(href="https://vine.co/u/956665768639172608")
        %i.fa.fa-vine
      %a(href="http://instagram.com/jarednorman")
        %i.fa.fa-instagram
      %a(href="https://dribbble.com/jarednorman")
        %i.fa.fa-dribbble
  .footer-row.footer-copyright
    = "copyright #{Time.now.year} Jared Norman"
