%header.simple-header
  %nav.simple-header-primary-navigation
    %h1.simple-header-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.simple-header-primary-navigation-list
      %li
        %a(href="/#about") About
      %li
        %a(href="/#work") Work
      %li
        %a(href="/#blog") Blog
