---
title: Jared Norman
---
%header.homepage-splash
  .homepage-primary-navigation
    %h1.homepage-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.homepage-primary-navigation-list
      %li
        %a(href="#about") About
      %li
        %a(href="#work") Work
      %li
        %a(href="#blog") Blog
  .homepage-splash-message
    .homepage-splash-text
      I am entirely made out of lint.
      %br
      %em
        Do you like hummus as much as me?
%section#about.homepage-about
  .homepage-about-row
    .homepage-about-copy
      %h1 Enterprise-scale Jared Norman
      %p
        Before finding my passion in programming I was planning to study
        English and hopefully find a career in writing. Luckily my childhood
        dreams of making computer games pushed me to try programming more
        seriously and I found that my enjoyment of structuring information and
        communicating ideas extended to languages beyond natural human
        languages. I consider myself lucky to have started my programming path
        with the C language; it gave me a fantastic perspective on how the
        languages I would be using later on worked and forced me to learn how
        to implement so many operations we take for granted in higher-level
        languages.

      %p
        Since then, I've extended my knowledge to a slew of languages extended
        across all the popular paradigms. I spend my time writing primarily
        Ruby, Elixir, and JavaScript, but I'm always playing with new languages
        to see what concepts I can bring into my practice.

    .homepage-about-features
      %h2 Factsheet
      %ul.homepage-about-feature-list
        %li I wrote my first line of code in elementary school, and started programming seriously in tenth grade.
        %li I'm passionate about software design, domain modelling, and anything that helps me write better software.
        %li I spend time programming for many environments and in different programming paradigms.
        %li I play hockey and squash.
        %li The Toronto Maple Leafs are my favourite hockey team.
        %li The Seattle Mariners are my favourite baseball team.
%section#work.homepage-work
  .homepage-work-content
    .homepage-work-info
      %h1 Work
      %p
        A multifaceted artist, Reeves worked with illustrator
        Alexandra He is set to star in the title role of the upcoming
        action movie John Wick.  A multifaceted artist, Reeves worked
        with illustrator Alexandra He is set to star in the title
        role of the upcoming action movie John Wick.
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra
        He is set to star in the title role of the upcoming action
        movie John Wick.
    .homepage-work-list
      %ul
        %li.homepage-work-list-item
          %h1
            bugsnag-elixir
            %a(href="https://github.com/jarednorman/bugsnag-elixir") <i class="fa fa-github"></i>
          %p
            A <a href="https://bugsnag.com">Bugsnag</a> error reporter for
            <a href="http://elixir-lang.org/">Elixir</a>
        %li.homepage-work-list-item
          %h1
            canada
            %a(href="https://github.com/jarednorman/canada") <i class="fa fa-github"></i>
          %p
            A friendly interface for making easy use of <a href="http://elixir-lang.org/">Elixir</a>'s
            excellent pattern matching to create readable declarative permission rules
        %li.homepage-work-list-item
          %h1
            dotenv-elixir*
            %a(href="https://github.com/avdi/dotenv_elixir") <i class="fa fa-github"></i>
          %p
            A port of <a href="https://github.com/bkeepers/dotenv">dotenv</a>
            to <a href="http://elixir-lang.org/">Elixir</a>
          %p
            %small
              * I am not the original author, but I now maintain this project.
        %li.homepage-work-list-item
          %h1
            dotfiles
            %a(href="https://bitbucket.org/jaredrnorman/dotfiles") <i class="fa fa-bitbucket"></i>
          %p
            My dotfiles
        %li.homepage-work-list-item
          %h1
            troll
            %a(href="https://github.com/jarednorman/troll") <i class="fa fa-github"></i>
          %p
            A bullshit-free test runner for <a href="http://www.lua.org/">Lua</a>
        %li.homepage-work-list-item
          %h1
            knight
            %a(href="https://github.com/jarednorman/knight") <i class="fa fa-github"></i>
          %p
            A dependency manager/injector for <a href="http://www.lua.org/">Lua</a>
        %li.homepage-work-list-item
          %h1
            hatred
            %a(href="https://github.com/jarednorman/hatred") <i class="fa fa-github"></i>
          %p
            A skeleton project for building applications with <a href="http://www.love2d.org/">Love2D</a>

