---
title: Jared Norman
---
%section.homepage-splash.window-height
  .homepage-primary-navigation
    %h1.homepage-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.homepage-primary-navigation-list
      %li
        %a(href="#") About
      %li
        %a(href="#") Work
      %li
        %a(href="#") Blog
  .homepage-splash-message
    .homepage-splash-text
      Programmer, Hockey Player, Banana, Fights for Earthrealm<br />
      Do you like hummus as much as me?
%section.homepage-about
  .homepage-about-row
    .homepage-about-copy
      %h1 Enterprise-scale Jared Norman
      %p
        Keanu Charles Reeves is a Canadian actor, director, and
        musician Reeves is known for his roles in Bill & Ted's
        Excellent Adventure, Speed, Point Break, and The Matrix trilogy
        as Neo He has collaborated with such major directors as Stephen
        Bernardo Bertolucci (in the 1993 film Little Buddha) Referring
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra
        He is set to star in the title role of the upcoming action
        movie John Wick.
    .homepage-about-features
      %h2 Features
      %ul.homepage-about-feature-list
        %li Integrated issue tracking
        %li Seamlessly delegate tasks
        %li Powerful integrations
        %li Keyboard accessibility
        %li Real-time updates
        %li Enterprise-level scaling
        %li Robust API
        %li Instant notifications
