---
title: Jared Norman
---
.homepage-splash.window-height
  .homepage-primary-navigation
    %h1.homepage-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.homepage-primary-navigation-list
      %li
        %a(href="#") About
      %li
        %a(href="#") Work
      %li
        %a(href="#") Blog
  .homepage-splash-message
    .homepage-splash-text
      Programmer, Hockey Player, Banana, Fights for Earthrealm<br />
      Do you like hummus as much as me?
.homepage-about
