---
title: Jared Norman
---
%header.homepage-splash.window-height
  .homepage-primary-navigation
    %h1.homepage-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.homepage-primary-navigation-list
      %li
        %a(href="#about") About
      %li
        %a(href="#work") Work
      %li
        %a(href="#blog") Blog
  .homepage-splash-message
    .homepage-splash-text
      Programmer, Hockey Player, Banana, Fights for Earthrealm<br />
      Do you like hummus as much as me?
%section#about.homepage-about
  .homepage-about-row
    .homepage-about-copy
      %h1 Enterprise-scale Jared Norman
      %p
        Keanu Charles Reeves is a Canadian actor, director, and musician Reeves
        is known for his roles in Bill & Ted's Excellent Adventure, Speed,
        Point Break, and The Matrix trilogy as Neo He has collaborated with
        such major directors as Stephen Bernardo Bertolucci (in the 1993 film
        Little Buddha) Referring
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra He is
        set to star in the title role of the upcoming action movie John Wick.
    .homepage-about-features
      %h2 Factsheet
      %ul.homepage-about-feature-list
        %li Integrated issue tracking
        %li Powerful integrations
        %li Keyboard accessibility
        %li Real-time updates
        %li Enterprise-level scaling
        %li Robust API
        %li Instant notifications
%section#work.homepage-work
  .homepage-work-content
    .homepage-work-info
      %h1 Work
      %p
        A multifaceted artist, Reeves worked with illustrator
        Alexandra He is set to star in the title role of the upcoming
        action movie John Wick.  A multifaceted artist, Reeves worked
        with illustrator Alexandra He is set to star in the title
        role of the upcoming action movie John Wick.
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra
        He is set to star in the title role of the upcoming action
        movie John Wick.
    .homepage-work-list
      %ul
        %li.homepage-work-list-item
          %h1 bugsnag-elixir
          %p
            A Bugsnag error reporter for Elixir
            %a(href="#") [more info]
        %li.homepage-work-list-item
          %h1 canada
          %p
            A friendly interface for making easy use of Elixir's excellent
            pattern matching to create readable declarative permission rules
            %a(href="#") [more info]
        %li.homepage-work-list-item
          %h1 dotfiles
          %p
            My dotfiles
            %a(href="#") [more info]
        %li.homepage-work-list-item
          %h1 troll
          %p
            A bullshit-free test runner for Lua
            %a(href="#") [more info]
        %li.homepage-work-list-item
          %h1 knight
          %p
            A dependency manager/injector for Lua
            %a(href="#") [more info]
        %li.homepage-work-list-item
          %h1 hatred
          %p
            A skeleton project for building applications with Love2D
            %a(href="#") [more info]
