---
title: Jared Norman
---
%header.homepage-splash.window-height
  .homepage-primary-navigation
    %h1.homepage-primary-navigation-site-title
      %a(href="/") <span>Jared</span> Norman
    %ul.homepage-primary-navigation-list
      %li
        %a(href="#about") About
      %li
        %a(href="#work") Work
      %li
        %a(href="#blog") Blog
  .homepage-splash-message
    .homepage-splash-text
      Programmer, Hockey Player, Banana, Fights for Earthrealm<br />
      Do you like hummus as much as me?
%section#about.homepage-about
  .homepage-about-row
    .homepage-about-copy
      %h1 Enterprise-scale Jared Norman
      %p
        Keanu Charles Reeves is a Canadian actor, director, and musician Reeves
        is known for his roles in Bill & Ted's Excellent Adventure, Speed,
        Point Break, and The Matrix trilogy as Neo He has collaborated with
        such major directors as Stephen Bernardo Bertolucci (in the 1993 film
        Little Buddha) Referring
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra He is
        set to star in the title role of the upcoming action movie John Wick.
    .homepage-about-features
      %h2 Factsheet
      %ul.homepage-about-feature-list
        %li Integrated issue tracking
        %li Powerful integrations
        %li Keyboard accessibility
        %li Real-time updates
        %li Enterprise-level scaling
        %li Robust API
        %li Instant notifications
%section#work.homepage-work
  .homepage-work-content
    .homepage-work-info
      %h1 Work
      %p
        A multifaceted artist, Reeves worked with illustrator
        Alexandra He is set to star in the title role of the upcoming
        action movie John Wick.  A multifaceted artist, Reeves worked
        with illustrator Alexandra He is set to star in the title
        role of the upcoming action movie John Wick.
      %p
        A multifaceted artist, Reeves worked with illustrator Alexandra
        He is set to star in the title role of the upcoming action
        movie John Wick.
    .homepage-work-list
      %ul
        %li.homepage-work-list-item
          %h1
            bugsnag-elixir
            %a(href="https://github.com/jarednorman/bugsnag-elixir") <i class="fa fa-github"></i>
          %p
            A <a href="https://bugsnag.com">Bugsnag</a> error reporter for
            <a href="http://elixir-lang.org/">Elixir</a>
        %li.homepage-work-list-item
          %h1
            canada
            %a(href="https://github.com/jarednorman/canada") <i class="fa fa-github"></i>
          %p
            A friendly interface for making easy use of <a href="http://elixir-lang.org/">Elixir</a>'s
            excellent pattern matching to create readable declarative permission rules
        %li.homepage-work-list-item
          %h1
            dotenv-elixir*
            %a(href="https://github.com/avdi/dotenv_elixir") <i class="fa fa-github"></i>
          %p
            A port of <a href="https://github.com/bkeepers/dotenv">dotenv</a>
            to <a href="http://elixir-lang.org/">Elixir</a>
          %p
            %small
              * I am not the original author, but I now maintain this project.
        %li.homepage-work-list-item
          %h1
            dotfiles
            %a(href="https://bitbucket.org/jaredrnorman/dotfiles") <i class="fa fa-bitbucket"></i>
          %p
            My dotfiles
        %li.homepage-work-list-item
          %h1
            troll
            %a(href="https://github.com/jarednorman/troll") <i class="fa fa-github"></i>
          %p
            A bullshit-free test runner for <a href="http://www.lua.org/">Lua</a>
        %li.homepage-work-list-item
          %h1
            knight
            %a(href="https://github.com/jarednorman/knight") <i class="fa fa-github"></i>
          %p
            A dependency manager/injector for <a href="http://www.lua.org/">Lua</a>
        %li.homepage-work-list-item
          %h1
            hatred
            %a(href="https://github.com/jarednorman/hatred") <i class="fa fa-github"></i>
          %p
            A skeleton project for building applications with <a href="http://www.love2d.org/">Love2D</a>

