.homepage-about {
  background-color: $red;
  color: white;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.075);
}

.homepage-about-row {
  @include outer-container;
}

.homepage-about-copy,
.homepage-about-features {
  font-size: 1rem;
  font-weight: normal;
  padding-bottom: 2rem;

  h1, h2 {
    font-size: 1.85rem;
    font-weight: 300;
    font-style: italic;
    margin: 1.5em 0 0 0;
    line-height: 1.5;
  }
}

.homepage-about-copy {
  @include span-columns(7);
}

.homepage-about-features {
  @include span-columns(5);
}

.homepage-about-feature-list {
  list-style-type: none;
  padding: 0;

  li {
    border-left: 2px solid white;
    padding-left: 1em;

    & + li {
      margin-top: 1rem;
    }
  }
}
