.homepage-blog {
  @include outer-container;
  margin-top: 3rem;
  margin-bottom: 3rem;

  > h1 {
    font-size: 1.3rem;
    font-weight: 300;
    font-style: italic;
  }
}

.homepage-blog-post-summaries {
  @include clearfix;
}

.homepage-blog-post-large {
  @include span-columns(4);
  @include omega(3n);
  border-top: 3px solid $black;
  padding: 1.5rem 0;

  h1 {
    margin: 0;
    font-size: 1.2rem;

    a {
      &:link,
      &:visited {
        color: $black;
        text-decoration: none;
      }

      &:hover,
      &:active {
        text-decoration: underline;
      }
    }
  }
}

.homepage-blog-post-date {
  font-size: 0.75rem;
}

.homepage-blog-post-summary {
  font-size: 0.9rem;

  a {
    &:link,
    &:visited {
      color: rgba($black, 0.7);
      text-decoration: none;
      font-weight: 600;
    }

    &:hover,
    &:active {
      color: rgba($black, 0.9);
    }
  }
}

.homepage-blog-post-permalink {
}

.homepage-blog-archives {
}

.homepage-blog-archive-year h2 {
  font-size: 1em;
  border-bottom: 2px solid $black;
  margin: 0;
}

.homepage-blog-archive-month {
  @include span-columns(3);
  @include omega(4n);

  h3 {
    font-size: 1em;
  }
}

.homepage-blog-archive-month-post-list {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  font-size: 0.9em;

  li {
    a {
      &:link,
      &:visited {
        font-weight: normal;
        text-decoration: none;
        color: rgba($black, 0.75);
      }

      &:hover,
      &:active {
        color: $black;
      }
    }
  }
}
