.homepage-work {
  background-color: $blue;
  color: #fff;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.075);
}

.homepage-work-content {
  @include outer-container;

  h1, h2 {
    font-size: 1.85rem;
    margin: 1.5em 0 0 0;
  }
}

.homepage-work-info {
  @include span-columns(5);
}

.homepage-work-list {
  @include span-columns(7);
  padding: 1.5rem 0;

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.homepage-work-list-item {
  font-size: 1.2rem;
  border-left: 2px solid white;
  padding-left: 1rem;

  h1 {
    font-size: 1.2rem;
    font-style: italic;
  }

  p {
    margin: 0
  }

  a {
    font-size: 1rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5);
    }

    &:hover,
    &:active {
      color: white;
    }
  }
}
